@import "../../styles/mixins";

.root {
	height: 100%;
}

.canvas.canvas {
	background-image: unset;
	background-color: #3c3c3c;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
}

.backButton {
	@include size(40px);

	position: absolute;
	left: 10px;
	top: 10px;
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	text-decoration: unset;
	z-index: 1;
}

.paused {
	position: absolute;
	top: 50px;
	left: 50px;
	font-size: 48px;
	color: #fff;
	background: #000;
	white-space: pre-wrap;
	padding: 10px;
}
