@import "../../styles/mixins";

.root {
	@include windowLike();

	position: absolute;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.draggable {
	width: 100%;
	height: 16px;
	background-image: linear-gradient(0deg, #edeefc 0%, #edeefc 25%, #2d2d3a 25.1%, #2d2d3a 50%, transparent 50.1%, transparent 100%);
	background-size: 4px 4px;
	margin-bottom: 5px;
	cursor: grab;
}

.content {
	width: 300px;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}

.text {
	margin-bottom: 10px;
}

.publisher {
	position: relative;
}

.button {
	@include buttonLike();
	@include size(26);

	position: absolute;
	bottom: 2px;
	right: 2px;
	padding: 0;

	&:active {
		padding: 0;
	}
}

.input {
	border-style: solid;
	border-width: 2px;
	border-right-color: #b6b5eb;
	border-bottom-color: #b6b5eb;
	border-top-color: #2d2d3a;
	border-left-color: #2d2d3a;
	background: #bbbaf1;
	font-family: 'Custom Font', monospace;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 25px 5px 5px;
	width: 100%;
	border-radius: 5px;

	&:focus{
		outline: none;
		&::placeholder {
			color: transparent;
		}
	}

	&::placeholder {
		text-transform: uppercase;
	}
}
