@import "/src/styles/mixins";

.scrollable {
	overflow: auto;
	max-height: calc(100% - 50px);
}

.month {
	margin: 3px 0 0 3px;
	display: inline-block;
	background: #f2f0f0;
}

.week {
	display: flex;
}

.day {
	@include size(45px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	outline: 1px solid #cfcfcf;
	padding: 3px;
	white-space: nowrap;

	& div {
		font-size: 1.3vh; 
		text-align: right;
		white-space: nowrap;
		cursor: default;

		&:first-child {
			font-weight: bold;
		}
	}
}

.selectedDay {
	background-color: #007cdb;
	color: #fff;
}

.active:not(.selectedDay):hover {
	background-color: #c0c0c0;
}

.tooltip {
	color: #000;
}

.hours {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-auto-flow: column;
	gap: 2px;

	& > div {
		border: 1px solid #ccc;
		padding: 0 4px;
	}
}

.chart {
	display: flex;
	justify-content: center;

	& svg {
		outline: 1px solid #e1dfdf;
	}
}
