.item {
	display: flex;
	justify-content: space-between;

	& > span {
		padding: 3px;
		cursor: pointer;
	}

	&:hover {
		background: rgba(255, 255, 255, 0.3);
	}
}

.list {
	max-height: 200px;
	overflow: auto;
}

.toggleButton {
	cursor: pointer;
}

.blockTitle {
	font-weight: bold;
	margin-bottom: 5px;
	background-color: #fff;
	color: #000;
	padding: 0 3px;
}

.active {
	background-color: rgba(255, 255, 255, .1);
}
