.root {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 48px;
	color: #fff;
	white-space: pre;
	padding: 10px;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.timeout {
	background: #000;
	top: 50px;

	a,
	a:visited,
	a:active {
		color: #fff;
	}

	a:hover {
		color: rgb(152, 226, 255);
	}
}
