@import "../../styles/mixins";

.root {
	@include windowLike();

	position: absolute;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	z-index: 1;
}

.draggable {
	width: 100%;
	height: 16px;
	background-image: linear-gradient(0deg, #edeefc 0%, #edeefc 25%, #2d2d3a 25.1%, #2d2d3a 50%, transparent 50.1%, transparent 100%);
	background-size: 4px 4px;
	margin-bottom: 5px;
	cursor: grab;
}

.content {
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	border-style: solid;
	border-width: 2px;
	border-right-color: #b6b5eb;
	border-bottom-color: #b6b5eb;
	border-top-color: #2d2d3a;
	border-left-color: #2d2d3a;
	background: #dbdbef;
	color: #000;
	padding: 10px;
	border-radius: 5px;
	max-height: calc(100vh - 300px);

	scrollbar-width: thin;

	scrollbar-color: #8080a6 #fff0;

	&::-webkit-scrollbar {
		width: 8px;
		height: 6px;
		background-color: #fff0;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background-color: #fff0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #8080a6;
	}
}

.leaderBoardItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -10px;
	padding: 0 10px 3px;

	&:hover {
		background-color: #c9cade;
	}

	& svg {
		@include size(16px);
		margin-right: 4px;
		transform: translateY(4px);
	}
}

.text {
	margin-bottom: 10px;
}

.publisher {
	position: relative;
}

.button {
	@include buttonLike();
	@include size(26);

	position: absolute;
	bottom: 2px;
	right: 2px;
	padding: 0;

	&:active {
		padding: 0;
	}
}

.input {
	border-style: solid;
	border-width: 2px;
	border-right-color: #b6b5eb;
	border-bottom-color: #b6b5eb;
	border-top-color: #2d2d3a;
	border-left-color: #2d2d3a;
	background: #bbbaf1;
	font-family: 'Custom Font', monospace;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 25px 5px 5px;
	width: 100%;
	border-radius: 5px;

	&:focus{
		outline: none;
		&::placeholder {
			color: transparent;
		}
	}

	&::placeholder {
		text-transform: uppercase;
	}
}

.close {
	@include buttonLike();

	position: absolute;
	top: 2px;
	right: 5px;
	outline: 4px solid $color-window-bg;

	&,
	&:active {
		padding: 0px 3px;
	}
}

.space {
	width: 20px;
	display: inline-block;
}

.title {
	margin: 10px 0 5px;
}

:global(.mobile) {
	.content {
		width: calc(100vw - 41px);
		max-height: calc(100vh - 143px);
	}
}
