@import "../../styles/mixins";

.root {
	@include windowLike();

	position: absolute;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.button {
	@include buttonLike();

	padding: 5px;

	&:active {
		padding: 6px 4px 4px 6px;
	}
}

.icon {
	@include size(16px);
}

.draggable {
	width: 100%;
	height: 16px;
	background-image: linear-gradient(0deg, #edeefc 0%, #edeefc 25%, #2d2d3a 25.1%, #2d2d3a 50%, transparent 50.1%, transparent 100%);
	background-size: 4px 4px;
	margin-bottom: 5px;
	cursor: grab;
}
