@import "../../styles/mixins";

.root {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	position: absolute;
	top: 0;
	left: 0px;
	padding: 4px;
	z-index: 1;
}

.title {
	display: grid;
	text-decoration: none;
	white-space: nowrap;

	display: grid;
	grid-template-columns: 30px 1fr;
	grid-template-areas: 
		"logo title"
		"logo subtitle";
	grid-column-gap: 8px;
	grid-row-gap: 0px;
	
	& > h1 { grid-area: title; }
	& > h2 { grid-area: subtitle; }
}

.logo {
	@include size(32px);

	grid-area: logo;
}

h1, h2 {
	margin: 0;
	color: #000;
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 12px;
}

:global(.mobile) {
	.title {
		grid-template-areas: "logo";

		& > h1 { display: none; }
		& > h2 { display: none; }
	}
}
