@import "../../styles/mixins";

.root {
	@include windowLike();

	position: absolute;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.draggable {
	width: 100%;
	height: 16px;
	background-image: linear-gradient(0deg, #edeefc 0%, #edeefc 25%, #2d2d3a 25.1%, #2d2d3a 50%, transparent 50.1%, transparent 100%);
	background-size: 4px 4px;
	margin-bottom: 5px;
	cursor: grab;
}

.content {
	width: 300px;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}

.close {
	@include buttonLike();

	position: absolute;
	top: 2px;
	right: 4px;
	outline: 4px solid $color-window-bg;;

	&,
	&:active {
		padding: 0px 3px;
	}

	& > div {
		rotate: -90deg;
	}
}

.toggled > div {
	rotate: 90deg;
}
