@import "/src/styles/mixins";

.root {
	margin-bottom: 3px;
}

.title {
	background: #323233;
	border: 1px solid #797979;
	cursor: pointer;

	&,
	&:active,
	&:hover {
		padding: 5px 3px;
	}
}

.content {
	background: #323233;
	border: 1px solid #797979;
	border-top: 0px;
	color: #fff;
	padding: 3px;
	box-sizing: border-box;

	a,
	a:active,
	a:visited,
	a:hover {
		color: #fff;
		font-weight: bold;
	}

	button {
		background: #323233;
		border: 1px solid #797979;
		color: #fff;
		cursor: pointer;
		padding: 3px;
		margin: 1px
	}
	input {
		background: #323233;
		border: 1px solid #797979;
		border-bottom: 2px solid #797979;
		color: #fff;
	}
}
