@import "../../styles/mixins";

.root {
	@include windowLike();

	display: flex;
	gap: 8px;
	position: absolute;
	padding: 6px;
	color: black;
}

.paletteContent {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.paletteControls {
	display: flex;
	gap: 6px;
}

.draggable {
	width: 16px;
	height: 42px;
	display: inline-block;
	background-image: linear-gradient(0deg, #edeefc 0%, #edeefc 25%, #2d2d3a 25.1%, #2d2d3a 50%, transparent 50.1%, transparent 100%);
	background-size: 4px 4px;
	cursor: grab;
}

.currentColorWrapper {
	@include size(42px);

	display: flex;
	justify-content: center;
	align-items: center;
	background-image: repeating-conic-gradient(#9493bf 0% 25%, #c2c1fa 0% 50%);
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	background-color: #c2c1fa;
	border-style: solid;
	border-width: 2px;
	border-right-color: #b6b5eb;
	border-bottom-color: #b6b5eb;
	border-top-color: #2d2d3a;
	border-left-color: #2d2d3a;
	box-sizing: border-box;
	border-radius: 3px;
}

.currentColor {
	@include size(26px);

	border-style: solid;
	border-width: 2px;
	border-top-color: #b6b5eb;
	border-left-color: #b6b5eb;
	border-bottom-color: #2d2d3a;
	border-right-color: #2d2d3a;
	box-sizing: border-box;
	border-radius: 3px;
}

.colors {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fill, 1fr);
	grid-auto-flow: column;
	gap: 1px;
}

.color {
	@include size(20px);

	border-radius: 3px;
	border-style: solid;
	border-width: 2px;
	border-right-color: #b6b5eb;
	border-bottom-color: #b6b5eb;
	border-top-color: #2d2d3a;
	border-left-color: #2d2d3a;
	box-sizing: border-box;
	cursor: pointer;
	transition: transform 0.2s;

	&:hover {
		transform: scale(1.2);
	}
}

:global(.mobile) {
	.root {
		width: 100%;
		bottom: 0px;
		left: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		padding: 3px;
		border-width: 2px;
	}

	.colors {
		max-width: calc(100vw - 10px);
		overflow-x: auto;
		overflow-y: hidden;
		grid-template-rows: 1fr;
		padding: 3px 0;
	}

	.color {
		@include size(8vw);

		border-radius: 12px;

		&:hover {
			transform: unset;
		}
	}

	.currentColorWrapper {
		display: none;
	}

	.currentColor {
		@include size(10vw);
	}

	.active {
		box-shadow: 0px 0px 0px 3px #fff;
	}
}
