@import "../../styles/mixins";

.root {
	@include size(100%);

	position: relative;
	background-image: repeating-conic-gradient(#d9d7ff 0% 25%, #f4f4f4 0% 50%);
	background-position: 0 0, 16px 16px;
	background-size: 32px 32px;
	background-color: #c5c4fe;
	overflow: hidden;
}

.workbench {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.draggable {
	position: absolute;

	&::before {
		@include size(448px);

		content: '';
		position: absolute;
		left: -224px;
		top: -224px;
		background-image: url('../../res/corner.png');
		z-index: -1;
		transform: scale(0.02);
	}
}

.canvas {
	image-rendering: pixelated;
}

.coordinates {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	color: #000;
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	font-family: 'Custom Font', monospace;
	font-size: 20px;
	font-weight: bold;
	user-select: none;
}

.pixel {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #ffffff;
}

.image404 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	image-rendering: pixelated;
}

.inactive {
	cursor: pointer;
}

.select {
	position: absolute;
	border: 1px solid #5757ff;
	background-color: #5757ff99;

	top: 10px;
	left: 10px;
	width: 200px;
	height: 100px;
}

:global(.mobile) {
	.root {
		@include size(100%);

		margin: 0px;
	}
}