.root {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: repeating-conic-gradient(#c5c4fe 0% 25%, #f4f4f4 0% 50%);
	background-position: 0 0, 16px 16px;
	background-size: 32px 32px;
	background-color: #c5c4fe;
	overflow: hidden;
}

.workbench {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.canvas {
	position: absolute;
	image-rendering: pixelated;
}

.coordinates {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	color: #000;
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight: bold;
}

.pixel {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #ffffff;
}
