@import "../../../../styles/mixins";

.root {
	@include windowLike();

	position: absolute;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	z-index: 1;
	transform-origin: bottom right;
	transition: transform 300ms, opacity 300ms;
}

.draggable {
	position: relative;
	width: 100%;
	height: 16px;
	background-image: linear-gradient(0deg, #edeefc 0%, #edeefc 25%, #2d2d3a 25.1%, #2d2d3a 50%, transparent 50.1%, transparent 100%);
	background-size: 4px 4px;
	margin-bottom: 5px;
	cursor: grab;
}

.close {
	@include buttonLike();

	position: absolute;
	top: -2px;
	right: 1px;
	outline: 4px solid $color-window-bg;

	&,
	&:active {
		padding: 0 3px;
	}
}

.colorLabel {
	color: #000000;
	font-family: 'Custom Font', monospace;
	font-size: 16px;
}

.input {
	@include inputLike();

	font-family: 'Custom Font', monospace;
	font-size: 16px;
	height: 30px;
}

.footer {
	display: flex;
	gap: 4px;
	margin-top: 5px;
}

.button {
	@include buttonLike();

	min-width: 62px;
	padding: 3px 5px;
	font-family: 'Custom Font', monospace;
	font-size: 16px;

	&:active {
		padding: 3px 5px;
	}
}

.wrapper {
	display: inline-flex;
	gap: 6px;
}

.picker {
	@include size(200px);

	cursor: crosshair;
}

.color {
	@include inputLike();

	box-sizing: content-box;
    overflow: hidden;
	padding: 0;
	position: relative;
}

.dot {
	@include size(16px);

	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path d='M7 11h2v5H7v-5ZM11 7h5v2h-5V7ZM0 7h5v2H0V7ZM7 0h2v5H7V0Z' fill='currentColor'/></svg>");
}

.gradientBlack {
	background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.gradientWhite {
	background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.rainbow {
	@include inputLike();

	position: relative;
	padding: 0;
	width: 20px;
	background: linear-gradient(to bottom, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 17%, rgb(0, 255, 0) 33%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 67%, rgb(255, 0, 255) 83%, rgb(255, 0, 0) 100%);
	cursor: pointer;
}

.arrow {
	position: absolute;
	transform: translateY(-50%);
	left: -8px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid #000;
}

.info {
	display: flex;
	align-items: center;
	gap: 10px
}

.output {
	@include inputLike();
	@include size(30px);

	padding: 0;
	display: block;
}

.pickButton {
	@include buttonLike();
	@include size(30px);

	background-image: url(../../../../../assets/eye-dropper.png);
	background-position: center center;
	padding: 0;

	&:active {
		padding: 0;
	}
}

.transparent {
	opacity: .5;
	transform: scale(.5);
}
